[submodule "deliverable-02/SbatchMan"]
	path = deliverable-02/SbatchMan
	url = https://github.com/LorenzoPichetti/SbatchMan.git
	branch = example
[submodule "deliverable-02/distributed_mmio"]
	path = deliverable-02/distributed_mmio
	url = https://github.com/matteo-dinoia/distributed_mmio.git
